
<div ngClass="tracerLogoImage"></div>
<div ngClass="tracer-actions">
      <div>
        <div  ngClass="toolbarButton" (click)="pausePlay()" id="Pause" name="Pause">Pause</div>
      </div>
      <div>
        <div ngClass="toolbarButton" (click)="clear()" id="ClearEvents" name="ClearEvents">Clear</div>
      </div>
      <div>
        <span ngClass="toolbarSeparator"></span>
      </div>
      <div>
        <div ngClass="toolbarButton" (click)="settings()" id="Options"   name="Options">Options</div>
      </div>
      <div>
        <div ngClass="toolbarButton" (click)="breakpoints()" id="Breakpoint" name="Breakpoint">Breakpoints</div>
      </div>
      <div>
        <div ngClass="toolbarButton" (click)="watchVariables()" id="WatchVar" name="WatchVar">Watch</div>
      </div>
      <div>
        <div ngClass="toolbarButton" (click)="remoteTrace()" id="Connection" name="Connection">Remote Tracer</div>
      </div>
      <div>
        <div ngClass="toolbarButton" (click)="save()" id="Save" name="Save">Save</div>
      </div>
</div>

