<div ngClass="toolbar">

  <div ngClass="tracerLogoImage"></div>
  <div ngClass="tracer-actions">
        <div>
          <div ngClass="toolbarIcon iconToolbarPause"></div>
          <div  ngClass="toolbarButton " (click)="pausePlay()" id="Pause" name="Pause">Pause</div>
        </div>
        <div>
          <div ngClass="toolbarIcon iconToolbarClear"></div>
          <div ngClass="toolbarButton" (click)="clear()" id="ClearEvents" name="ClearEvents">Clear</div>
        </div>
        <div>
          <span ngClass="toolbarSeparator"></span>
        </div>
        <div>
          <div ngClass="toolbarIcon iconToolbarSettings"></div>
          <div ngClass="toolbarButton" (click)="settings()" id="Options"   name="Options">Options</div>
        </div>
        <div>
          <div ngClass="toolbarIcon iconToolbarConnection"></div>
          <div ngClass="toolbarButton" (click)="remoteTrace()" id="EventsSource" name="EventsSource">Events Source</div>
        </div>
        <div>
          <div ngClass="toolbarIcon iconToolbarTracerSave"></div>
          <div ngClass="toolbarButton" (click)="save()" id="Save" name="Save">Save</div>
        </div>
  </div>

</div>
