language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
install:
  - npm install -g codecov
  - npm install -g istanbul
  - npm install -g typescript
  - npm install
  - npm install-all
script:
  - npm build-all
  - istanbul cover node_modules/jasmine/bin/jasmine.js
  - codecov
after_success:
  - bash <(curl -s https://codecov.io/bash)
