app-toolbar {
  height: 44px;
  background-color: black;
  color: white;
  display: block;
  position: fixed;
  width: 100%;
}

app-status-bar {
  display: block;
  position: fixed;
  bottom: 0px;
  top: calc(100% - 110px);
  width: 100%;
  border-top: 1px solid black;
}

app-event-list {
  position: fixed;
  bottom: 110px;
  top: 44px;
  overflow-y: scroll;
}
