<!--
<button (click)="tree.treeControl.collapseAll()">Collapse All</button>
<button (click)="tree.treeControl.expandAll()">Expand All</button>
-->


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <span [ngClass]="'name'">{{node.name}}</span>
    <span [ngClass]="'subscript'" *ngIf="node.subscript!=''">({{node.subscript}})</span>:&nbsp;
    <span [ngClass]="'value'">{{node.value}}</span>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <span [ngClass]="'name'">{{node.name}}</span>
    <span [ngClass]="'subscript'" *ngIf="node.subscript!=''">({{node.subscript}})</span>
  </mat-tree-node>
</mat-tree>

