<!--

<table>
  &lt;!&ndash; Properties array has page name as index and page itself as element, this value will be the actual index
        and not the element at the index!&ndash;&gt;
  <caption>Properties on page page viewer ocmponent hmtl  &lt;!&ndash;{{this.page.name}} or {{this.data.name}}   &ndash;&gt; </caption>
  <tr>
    <th> pxObjClass Value </th>
  </tr>
  <tr>
    &lt;!&ndash; Will be the pxObjClass value from the xml file !&ndash;&gt;
  &lt;!&ndash; <td> {{this.page.properties["pxObjClass"]}}</td>&ndash;&gt;
    <td>data.
    </td>
  </tr>
  &lt;!&ndash; Launch Modal when step page column clicked !&ndash;&gt;
</table>

-->
