
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

  <ng-container matColumnDef="Property Name">
    <th style="width:500px;" mat-header-cell *matHeaderCellDef> Event Property Name </th>
    <td mat-cell *matCellDef="let eventProperty">  {{eventProperty.name}}   </td>
  </ng-container>


  <ng-container matColumnDef="Property Value">
    <th style="width:500px;" mat-header-cell *matHeaderCellDef> Event Value Name </th>
    <td mat-cell *matCellDef="let eventProperty">  {{eventProperty.value}}   </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

