tbody tr {
  background-color: #D9D9D9;
  margin-bottom: 1px;
}

thead {
  font-weight: bold;
}

thead tr td {
  background-color: #e1e2dc;
  border: #bebfb9 1px solid;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

tbody {
  #height: calc(100% - 10px);
}

table {
  font-size: 8pt;
  font-family: arial;
  text-align: left;
  color: black;
  height: 100%;
  width: 100%;
}

